@font-face {
    font-family: inter;
    src: url(../misc/inter.ttf)
}

#header {
    background-color:#97F9CA;
    width:100%;
    font-family:inter;
}

#buttons {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    padding-left:20px;
    font-size:16pt;
}

#buttons p:hover{
  color:fuchsia;
    
}

p {
    margin-top:0;
    margin-right: 20px;
}

#logocontainer {
    display:flex;
    flex-direction:row;
    align-items:center;
}

#logo {
    float:left;
    width: 50px;
    height: 50px;
    padding-right:10px;
    padding-left:10px;
}

#ArrayAppButtons, #VectorAppButtons, #ListAppButtons, #QueueAppButtons, #BinaryTreeAppButtons/*, #StackAppButtons*/
{
    padding-top: 10px;
    padding-left: 10px;
    display:flex;
    flex-direction:row;
}

#StackAppButtons
{
    padding-top: 10px;
    padding-left: 10px;
    display:flex;
    flex-direction:column-reverse;
}


button {
    margin-right:10px;
    color:black;
    font-family: inter;
    font-weight: bold;
    background-color:#D9D9D9;
    border-radius:8px;
    border:none;
    padding:6px;
}

button:hover {
    background-color:black;
    color:white;
}

input[type=number]{
    padding:6px;
    width:50px;
}

#main {
    transition: margin-right .5s;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #D9D9D9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebarcontent {
    margin-left:20px;
    font-family:inter;
    margin-right:10px;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: -1;
  }